

<!-- id course video  -->
<div class="modal fade" id="saveDevapptvCourseVideoModal" tabindex="-1" role="dialog" aria-labelledby="myDeviceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="create()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myDeviceLabel">Create or edit a CourseVideo</h4>
                </div>
                <div class="modal-body">
                                                                                                        <div class="form-group">
                                    <label>ID</label>
                                    <input type="text" class="form-control" name="id"  ng-model="modelData.id" readonly>
                                </div>
                                                                                                                                                                                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>