

<!-- id createdOn owner url individualCost duration artist  -->
<div class="modal fade" id="saveDevapptvVideoModal" tabindex="-1" role="dialog" aria-labelledby="myDeviceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="form" role="form" novalidate  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="create()">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                    <h4 class="modal-title" id="myDeviceLabel">Create or edit a Video</h4>
                </div>
                <div class="modal-body">
                                                                                                        <div class="form-group">
                                    <label>ID</label>
                                    <input type="text" class="form-control" name="id"  ng-model="modelData.id" readonly>
                                </div>
                                                                                                                                                            <div class="form-group">
                                    <label>createdOn</label>
                                    <input type="date" class="form-control" name="createdOn" placeholder="yyyy/MM/dd"    ng-model="modelData.createdOn">
                                </div>
                                                                                                                                                            <div class="form-group">
                                    <label>owner</label>
                                    <input type="text" class="form-control" name="owner" ng-model="modelData.owner" ng-minlength=1 ng-maxlength=255  >
                                </div>
                                                                                                                                                            <div class="form-group">
                                    <label>url</label>
                                    <input type="text" class="form-control" name="url" ng-model="modelData.url" ng-minlength=1 ng-maxlength=255  >
                                </div>
                                                                                                                                                                                                        <div class="form-group">
                                    <label>duration</label>
                                    <input type="text" class="form-control" name="duration" ng-model="modelData.duration" ng-minlength=1 ng-maxlength=255  >
                                </div>
                                                                                                                                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                    </button>
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>